.reset-password {
  width: 435px;
  margin: auto;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 50px;

    input {
      width: 435px !important;
    }

    button {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }

    .link-reset {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #ededed;
      span {
        margin-left: -100px;
      }
    }
  }
}
