.help {
  width: 1659px;
  margin: auto;

  .help-bar {
    margin: 85px -10px 0;

    &-text {
      font-weight: 100;
      font-size: 20px;
      line-height: 24px;
      color: #ff5600;
      position: relative;
      padding-left: 31%;

      &::after {
        position: absolute;
        top: 15px;
        left: 0;
        width: 30%;
        height: 1px;
        content: "";
        background-color: #ff5600;
      }

      &::before {
        position: absolute;
        top: 15px;
        right: 0;
        width: 65.6%;
        height: 1px;
        content: "";
        background-color: #ff5600;
      }
    }
  }

  &-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #ededed;
    margin-top: 66px;
  }

  &-content {
    display: grid;
    grid-template-columns: 944px auto;
    gap: 125px;

    &-A {
      margin-top: 35px;
      max-height: 1310px;
      overflow: auto;
      padding-right: 44px;
      &-title {
        font-weight: 300;
        font-size: 30px;
        line-height: 36px;
        color: #ff5600;
      }

      &-content {
        h5.title {
          font-weight: 100;
          font-size: 20px;
          line-height: 24px;
          color: #ededed;
          margin-top: 30px;
          margin-bottom: 30px;
        }

        .list {
          padding-left: 20px;
          li::marker {
            color: #ededed;
            font-size: 14px;
          }

          &-item {
            .text {
              font-weight: 300;
              font-size: 14px;
              line-height: 17px;
              color: #ededed;
              opacity: 0.5;
              margin-bottom: 31px;
            }

            &-content {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 25px;
              .title {
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #ededed;
              }
            }
          }
        }
      }
    }
  }
}
