.detail-header-container {
  position: relative;
  padding-bottom: 85px;
  height: 100%;

  .detail-header-image-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;

    img {
      width: 100%;
    }
  }

  .detail-directory {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-top: 29px;
    padding-left: 61px;

    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
    }
    img {
      width: 14px;
      height: 5px;
      transform: rotate(-90deg);
    }
  }

  .header-detail-content {
    padding-left: 129px;
    display: flex;
    gap: 21px;
    padding-top: 81px;

    &-left {
      .header-detail-content- {
        &paras {
          display: flex;
          flex-direction: column;
          gap: 51px;
          width: 897px;
          .price {
            color: #ff5600;
          }
          P {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            padding-right: 20px;
          }

          h3 {
            font-weight: 300;
            font-size: 30px;
            line-height: 36px;
            color: #ededed;
            padding-right: 50px;
          }

          .paras-content {
            display: flex;
            flex-direction: column;
            gap: 29px;
            P {
              display: flex;
              gap: 8px;
            }
          }

          .header-detail-content-btn {
            width: 382px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            height: 70px;
            border: none;
            background: #ff5600;
            border-radius: 20px;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
            .go-to-btn {
              font-weight: 100;
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
      }
    }

    &-right {
      position: relative;
      width: 694px;
      height: 438px;
      border-radius: 20px;
      .header-detail-content-img {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        z-index: 100;
        -webkit-box-shadow: 10px 8px 15px 7px rgb(8, 8, 8, 0.4);
        box-shadow: 10px 8px 15px 7px rgb(8, 8, 8, 0.4);
        margin-top: 90px;
      }

      .header-detail-content-logo {
        position: absolute;
        right: 14px;
        top: 117px;
      }
    }
  }

  .feedback {
    display: flex;
    padding-left: 132px;
    gap: 36px;
    padding-top: 68px;

    &-rating {
      background: rgba(237, 237, 237, 0.02);
      width: 382px;
      border-radius: 20px 20px 0 0;

      p {
        &.feedback-title {
          font-weight: 100;
          font-size: 20px;
          line-height: 63px;
          color: #ededed;
          height: 63px;
          text-align: center;
          background: #493a33;
          border-radius: 20px 20px 0 0;

          &.time-title {
            background: #422c29;
          }

          &.language-title {
            background: #202425;
          }

          &.credit-title {
            background: #222829;
          }
        }
      }
    }

    &-content {
      display: flex;
      gap: 24px;
      flex-direction: column;
      padding: 24px 32px 36px;

      .rating-para {
        display: flex;
        gap: 12px;
        align-items: center;
      }

      .sub-title {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
      }

      P {
        font-weight: 100;
        font-size: 20px;
        line-height: 24px;
        color: #ededed;
      }

      .feedback-paras {
        display: flex;
        flex-direction: column;
        gap: 5px;
        P {
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}

.about-certificate- {
  &content {
    position: relative;
    width: 100%;
    display: flex;
    padding: 114px 0 114px 132px;
    gap: 132px;

    &-left {
      width: 1037px;
      h3 {
        font-weight: 300;
        font-size: 30px;
        line-height: 36px;
        color: #ff5600;
        margin-bottom: 45px;
      }

      .paragraph-content {
        display: flex;
        flex-direction: column;
        gap: 26px;
        p {
          padding-right: 110px;
          color: #ededed;
          opacity: 0.8;
          font-size: 14px;

          &.bold-paragraph {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            opacity: 1;
          }
        }
      }
    }

    &-right {
      position: relative;
      .about-certificate-logo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .ellispe-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .about-certificate-content-paras {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 36px;

        .about-certificate-paragraph {
          display: flex;
          flex-direction: column;
          font-weight: 300;
          font-size: 14px;
          line-height: 19px;
          text-align: center;
          color: #ededed;
          padding-top: 45px;
          position: relative;
          width: 150px;
          margin: auto;

          &.left {
            margin-right: 15px;
          }

          &.right {
            padding-left: 8px;
          }

          span {
            width: 150px;
          }
        }
      }
    }
  }

  &bgImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.skill-content {
  padding: 64px 152px 64px 189px;
  background: #000000;

  .skill-title {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #ff5600;
  }

  .skill-paragraphs {
    display: flex;
    gap: 40px 47px;
    flex-wrap: wrap;
    padding-top: 45px;
    .skill-text {
      padding: 16px 41px;
      border: 1px solid #ededed;
      border-radius: 20px;
      color: #ededed;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.profession-certificat {
  padding: 117px 132px;
  display: flex;
  gap: 182px;
  align-items: center;

  .certificate-title {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #ff5600;
  }

  &-content {
    width: 860px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &-text {
    font-weight: 100;
    font-size: 20px;
    line-height: 24.2px;
    color: #ededed;
  }

  &-infos {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .info-title {
      font-weight: 300;
      font-size: 30px;
      line-height: 36px;
      color: #10788e;
    }

    .infos {
      display: flex;
      gap: 20px;
      P {
        width: 580px;
      }
    }
  }
}

.teacher- {
  &content {
    padding-left: 119px;
    position: relative;
    padding-top: 12px;

    .teacher-user {
      position: absolute;
      left: 0;
      top: -25px;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #ededed;
    }
  }

  &container {
    display: flex;
    align-items: center;
    gap: 305px;
    padding: 54px 0 54px 264px;
    background: #000000;

    .teacher-image-row {
      display: flex;
      padding-left: 20px;

      .teacher-image-col {
        width: 60px;
        height: 60px;
        border: 1px solid #ededed;
        border-radius: 50%;
        margin-left: -20px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }

    .teacher-paras {
      display: flex;
      gap: 143px;

      .teacher-para {
        display: flex;
        gap: 8px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #ededed;

        p.paragraph-with-color {
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #ff5600;
        }
      }
    }
  }
}

.several-course- {
  &container {
    padding: 52px 132px;

    .trophe-col {
      padding-left: 117px;
      padding-top: 53px;
      display: flex;
      gap: 53px;
      align-items: center;
      h3 {
        font-weight: 100;
        font-size: 20px;
        line-height: 24px;
        color: #ff5600;
      }

      p {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #ededed;
        margin-top: 12px;
      }
    }
  }

  &title {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #ff5600;
    margin-bottom: 23px;
  }

  &row {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 141px;
    padding-top: 23px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 141px;
      height: 110px;
      width: 1px;
      background-color: #ededed;
    }
  }

  &col {
    position: relative;
    padding-left: 77px;
    .several-course-content {
      display: flex;
      align-items: center;
      gap: 44px;
      padding: 35px 47px 30px;
      background: rgba(237, 237, 237, 0.02);
    }

    &:first-child:after {
      content: "";
      position: absolute;
      top: -15px;
      left: 0;
      height: 50%;
      width: 1px;
      background-color: #ededed;
    }

    &::after {
      content: "";
      position: absolute;
      top: -40%;
      left: 0;
      height: 84%;
      width: 1px;
      background-color: #ededed;
    }

    ::before {
      content: "";
      position: absolute;
      left: -10px;
      bottom: 43%;
      width: 20px;
      height: 20px;
      border: 1px solid #ededed;
      border-radius: 50%;
    }

    .several-course-col-image {
      img {
        width: 250px;
        height: 132px;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #ededed;
      }

      .sub-title {
        font-weight: 100;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
      }

      .text {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
      }

      .author {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #ededed;
      }
    }
  }
}

.certificate- {
  &row {
    background-image: url("../../assets/images/BG_certificat.png");
    display: flex;
    padding: 55px 137px;
    gap: 136px;
  }

  &col {
    position: relative;
    h3 {
      font-weight: 300;
      font-size: 30px;
      line-height: 36px;
      color: #ff5600;
      margin-bottom: 44px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-left: 75px;
      li {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
      }
    }

    .certificate-image {
      position: absolute;
      right: 40px;
      top: 25px;
    }
  }
}

.teacher-programm {
  &-container {
    padding: 80px 132px;
  }

  &-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 60px;
    padding-top: 61px;
    padding-left: 92px;
  }

  &-title {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #ff5600;
  }

  &-col {
    display: flex;
    gap: 44px;

    .teacher-programm- {
      &profile {
        border: 2px solid #ededed;
        width: 85px;
        height: 85px;
        border-radius: 50%;

        img {
          width: 85px;
          height: 85px;
          border-radius: 50%;
        }
      }

      &feedback {
        .name {
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #ffffff;
        }

        .speciality,
        p {
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
        }

        .feedback-content {
          display: flex;
          gap: 15px;
          margin-top: 15px;
        }
      }
    }
  }
}

.similary-product {
  padding-top: 80px;
  h3.swiper-text {
    color: #ff5600 !important;
  }
}
