.home-contact-container {
  margin-top: 135px;
  background: rgba(237, 237, 237, 0.02);
  padding: 55px 145px;
  .home-contact-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 66px;
    text-align: center;
    color: #ededed;
    margin-bottom: 100px;
  }

  .home-contact {
    display: flex;
    gap: 302px;
    h3 {
      font-weight: 300;
      font-size: 30px;
      line-height: 36px;
      color: #ff5600;
    }

    .frequently-question {
      &-row {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }

      &-col {
        display: flex;
        gap: 406px;
        & > div {
          display: flex;
          align-items: center;
          gap: 30px;
          P {
            padding: 0;
            margin: 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #ededed;
          }

          img {
            width: 20px;
            height: 50px;
          }
        }
      }
    }

    .info-contact {
      display: flex;
      flex-direction: column;
      gap: 60px;

      &-col {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      h5 {
        font-weight: 100;
        font-size: 20px;
        line-height: 24px;
        color: #ededed;
      }
    }
  }
}
