.certificat {
  padding: 87px 273px 57px 113px;
  background: url("../../../assets/images/certificat_bg.png");
  background-size: cover;

  &-title {
    font-family: "e-Ukraine Head";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #ededed;
    text-align: center;
  }

  &-text {
    font-family: "e-Ukraine Head";
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 29px;
    color: #ff5600;
  }

  p,
  ul,
  h4 {
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    color: #ededed;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 36px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 0;
  }

  .certificat-right-content {
    overflow: hidden;
    width: 290px;
    background-color: #ededed;
    border-radius: 30px 30px 30px 0px;
  }

  .certificat-row {
    display: flex;
    gap: 19px;
    align-items: stretch;
    margin-top: 75px;

    .certificat-right {
      display: grid;
      gap: 70px 31px;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      background: rgb(#ededed, 0.1);
      border-radius: 15px;
      padding: 59px 49px;

      .certificat-right-image {
        position: relative;
        transform-origin: top left;

        &::after {
          position: absolute;
          bottom: 0;
          right: 0;
          left: -12px;
          width: 120%;
          height: 50px;
          background-color: #ededed;
          content: "";
          border-top-left-radius: 55px;
          transform: rotate(-13deg);
        }
      }

      img.image-company {
        width: 260px;
        height: 206px;
      }

      .image-logo {
        width: 50px;
        height: 50px;
      }

      &-col {
        position: relative;
        background: #ff5600;
        padding: 25px;
        border-top-left-radius: 45px;
        z-index: 100;
        height: 100%;
        .image-content {
          background: #ededed;
          border-radius: 10px;
          padding: 3px;
          position: absolute;
          top: -50px;
          left: 25%;
        }

        &::after {
          content: "";
          background-color: #ff5600;
          z-index: -1;
          width: 110%;
          height: 60px;
          position: absolute;
          top: -36px;
          left: 0;
          right: 50px;
          border-radius: 80px 0px 0 0;
          transform: rotate(-9deg);
        }

        p {
          font-weight: 100;
          font-size: 20px;
          line-height: 24px;
          color: #0f0f0f;

          &.price {
            position: absolute;
            right: 0;
            top: -35px;
            font-weight: 300;
            font-size: 15px;
            line-height: 17px;
            padding-right: 15px;
            span {
              z-index: 1;
              position: absolute;
              top: 29px;
              right: 30px;
            }
          }

          &.school {
            font-size: 14px;
            line-height: 17px;
            margin-top: 11px;
          }

          &.title {
            font-family: "e-Ukraine Head";
            font-style: normal;
            font-weight: 100;
            height: 48px;
            font-size: 20px;
            line-height: 24px;
            color: #ededed;
          }

          &.kind {
            font-size: 16px;
            line-height: 17px;
            color: #ededed;
            margin-top: 17px;
          }
        }
      }
    }

    .certificate-left-content {
      h4 {
        margin-bottom: 40px;
      }
    }
  }
}
