.what-next-container,
.category-prop,
.course-student {
  padding: 82px 265px 121px 113px;
  background: url("../../../assets/images/learn_bg.png");
  background-size: cover;

  &.what-next-flex {
    display: flex;
    gap: 136px;
    flex-direction: column;
  }

  .title-next {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #ededed;
    margin-bottom: 40px;
  }

  .what-next-swiper {
    position: relative;

    .swiper-container {
      background: rgb(#ededed, 0.1);
      border-radius: 15px;
      padding: 50px 51px;

      .swiper-button-prev,
      .swiper-button-next {
        color: #ededed !important;
      }

      .swiper-button-prev {
        left: -30px;
        z-index: 1;
      }
    }

    h3.swiper-text {
      font-family: "e-Ukraine Head";
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      line-height: 36px;
      display: flex;
      align-items: center;
      color: #ededed;
      margin-bottom: 40px;
    }

    .next-image {
      position: absolute;
      right: 0px;
      top: 30%;
      z-index: 1;
    }
  }

  .product-image-content {
    border-radius: 15px;
    .product-image {
      border-radius: 15px;
    }
  }

  .product-content {
    background: rgb(#ededed, 0.1);
    border-radius: 15px;
    padding: 31px;
  }

  .product-rating {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      padding: 0;
      margin: 0;
      font-weight: 100;
      font-size: 20px;
      line-height: 24px;
      color: #ededed;
    }
  }

  .product-btn {
    margin-top: 20px;
    button {
      font-family: "e-Ukraine Head";
      font-style: normal;
      font-weight: 100;
      font-size: 20px;
      line-height: 24px;
      display: block;
      width: 100%;
      color: #ededed;
    }
  }

  .price-content {
    display: flex;
    justify-content: space-between;
    gap: 21px;
    align-items: center;

    .price {
      color: #ff8001;
      font-weight: 100;
      font-size: 20px;
      line-height: 24px;
    }

    .price-offered {
      color: #ededed;
      font-weight: 100;
      font-size: 20px;
      line-height: 24px;
      text-decoration: line-through;
    }
  }
}

.btn-next-content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 64px;

  .next-btn {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "e-Ukraine Head";
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    color: #ededed;
    display: flex;
    gap: 10px;
    align-items: center;

    img {
      transform: rotate(-90deg);
      width: 30px;
      height: 30px;
    }
  }
}

.course-student {
  width: 100%;
  background: url("../../../assets/images/student_course_bg.png");
  background-size: cover;
  .course-student-title {
    font-family: "e-Ukraine Head";
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #ededed;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .btn-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
    button {
      display: flex;
      background: none;
      border: none;
      gap: 35px;
      align-items: center;
      font-family: "e-Ukraine Head";
      font-style: normal;
      font-weight: 100;
      font-size: 20px;
      line-height: 24px;
      color: #ededed;

      img {
        width: 35px;
        height: 35px;
        transform: rotate(-90deg);
      }
    }
  }

  &-content {
    display: flex;
    gap: 28px;
    background: rgb(#ededed, 0.1);
    border-radius: 15px;
    padding: 50px 51px;
    img.product-image {
      width: 280px;
    }

    h3 {
      font-family: "e-Ukraine Head";
      font-style: normal;
      font-weight: 100;
      font-size: 20px;
      line-height: 24px;
      color: #ededed;
      margin-top: 25px;
      margin-bottom: 12px;
      min-height: 48px;
    }

    .product-name {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #ededed;
      margin-bottom: 12px;
    }

    .price-content {
      margin: 12px 0;
    }

    button {
      background: rgb(#10788e, 0.5) !important;
      margin-top: 13px;
    }
  }
}
