.header-container {
  background: #040404;
  padding: 16px 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  .with-user-content {
    display: flex;
    gap: 45px;
    align-items: center;

    .icon-content {
      position: relative;
      .bar-message {
        position: absolute;
        top: 0;
        right: 1px;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        background: #ff5600;
      }
    }
  }

  .logOutBtn {
    background-color: transparent;
    border: none;
    outline: none;
  }

  .header-right,
  .search-content {
    display: flex;
    align-items: center;
  }

  .header-right {
    gap: 115px;
  }

  .search-content {
    gap: 50px;
  }

  .searchBtn {
    img {
      width: 39.99px;
      height: 40px;
    }
  }

  .languageBtn {
    img {
      width: 60px;
      height: 45px;
    }
  }

  .authBtn {
    display: flex;
    gap: 10px;
    align-items: center;

    .join-text {
      color: #ededed;
    }

    img {
      height: 30px;
    }
  }
}
