.reset-password {
  height: 50vh;
  position: relative;
  padding-left: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: rgba(237, 237, 237, 0.02);
    border-radius: 10px;
    content: "";
  }
  .feedback-message {
    position: absolute;
    right: 20px;
    top: -200px;
    padding: 25px;
    border-radius: 15px;
    color: #ededed;
    transform-origin: top bottom;

    &.success {
      top: 20px;
      background: #10788e;
    }

    &.error {
      top: 20px;
      background: #ededed;
      color: red;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;

    h4 {
      font-weight: 500;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
      color: #ededed;
    }

    button {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }

    input {
      width: 459px !important;
    }

    .link-reset {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #ededed;
      span {
        margin-left: -100px;
      }
    }
  }
}
