.header-container {
  background: #0f0f0f;
  padding: 16px 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  .header-right,
  .search-content {
    display: flex;
    align-items: center;
  }

  .header-right {
    gap: 115px;
  }

  .search-content {
    gap: 50px;
  }

  .searchBtn {
    img {
      width: 39.99px;
      height: 40px;
    }
  }

  .languageBtn {
    img {
      width: 60px;
      height: 45px;
    }
  }

  .authBtn {
    display: flex;
    gap: 10px;
    align-items: center;

    .join-text {
      color: #ededed;
    }

    img {
      height: 30px;
    }
  }

}
