.how-work {
  display: flex;
  column-gap: 167px;
  width: 100%;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 90px;

    &-paragraph {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-weight: 500;
      font-size: 64px;
      text-align: center;
      text-transform: uppercase;
      color: #ededed;
    }
  }

  &-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .tool-row {
    display: flex;
    gap: 89px;
    align-items: center;
    margin-top: 100px;

    .tool-title {
      font-weight: 300;
      font-size: 30px;
      line-height: 36px;
      color: #ededed;
    }

    ul {
      margin-top: 50px;
      display: grid;
      gap: 20px;
      li {
        list-style: none;
        display: flex;
        gap: 40px;
        align-items: center;
        font-weight: 100;
        font-size: 20px;
        line-height: 24px;
        color: #ededed;
      }
    }
  }
}

.home-image-container {
  position: relative;

  .image {
    width: 100%;
    height: 350px;
    border-radius: 30px;
    object-fit: cover;
  }

  .home-work-image-content {
    border-radius: 30px;

    &::after {
      content: "";
      position: absolute;
      border-radius: 30px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(217, 217, 217, 0) 0%,
        #ff8001 100%
      );
    }

    &.bg-img::after {
      background: linear-gradient(
        180deg,
        rgba(217, 217, 217, 0) 0%,
        #ff5600 100%
      ) !important;
    }
  }

  .title {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    height: 72px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    color: #ededed;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
