.registration-container {
  .registration-input-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .register-row {
    display: flex;
    gap: 60px;
    h4 {
      font-weight: 100;
      font-size: 20px;
      line-height: 24px;
      color: #ff5600;
    }

    .register-col {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .register-checkbox {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  .register-btn-content {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 30px;
  }

  button {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }

  .registration-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 15px;
    width: 500px;

    .registration-autho {
      margin-top: 50px;
    }

    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #808080;

      .registration-link {
        color: #ff5600;
      }
    }
  }

  .logo-content {
    h3.logo-text {
      background: #0f0f0f;
      width: max-content;
    }
  }

  .registration-text {
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    color: #ff5600;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  input:not(input[type="checkbox"]) {
    width: 435px !important;
  }
}
